.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #1D3F5B;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-left,
.navbar-right {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  flex-wrap: nowrap;
  margin-right: 3.5rem;
}

.navbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

.navbar-right {
  justify-content: flex-end;
  flex-shrink: 0;
  gap: 0.5rem;
  display: flex; /* Esto es para alinear la moneda y el botón */
  align-items: center; /* Centrado en el eje Y */
}

.navbar-logged-in {
  display: flex;
  align-items: center; /* Centrado en el eje Y */
  gap: 10px; /* Espacio entre el icono y el botón */
}

.navbar-btn {
  background-color: white;
  color: #1D3F5B;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.custom-btn {
  color: #1D3F5B;
  font-weight: 600;
}

.navbar-btn:hover {
  background-color: #e0e0e0;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navbar-link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.logo-img {
  height: 40px;
  object-fit: contain;
  cursor: pointer;
}

/* Estilos para el icono de las monedas */
.navbar-logged-in img {
  width: 24px; /* Tamaño del icono */
  margin-right: 8px; /* Espacio entre la imagen y el texto */
}
